/*--------------------
Body
--------------------*/
*,
*::before,
*::after {
  box-sizing: border-box;
}


.leaderboard-section {
  height: 47em;
  /*background: radial-gradient(ellipse farthest-corner at center top, #585858 0%, #be9852 100%);*/
  background: linear-gradient(rgba(2, 2, 2, 0.5), rgba(0, 0, 0, 0.5)), url("../img/leaderboard_background.jpg") fixed center center;
  color: #fff;
  font-family: "Raleway", sans-serif;
  min-height: 620px;
  padding:10px;
}

.event-leaderboard-heading{
  text-align: center;
  text-transform: uppercase;
  position: relative;
  top: 40px;

}



.inside-leaderboard{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.inside-leaderboard>h1{
  margin-top: 10px;
}


/*--------------------
Leaderboard
--------------------*/
.leaderboard {
  margin-top: 300px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: auto;
  background: linear-gradient(to bottom, #181c26, #ffb938);
  border-radius: 10px;
  box-shadow: 0 7px 30px rgba(62, 9, 11, 0.3);

}
@media screen and (max-width: 800px){
  .leaderboard-section{
  }
  .leaderboard{
      width: 80%;
   
  }
}
@media screen and (max-width: 600px){
  .leaderboard-section{
      padding:5px;
  }
    .leaderboard{
        width: 90%;
    }


}
.leaderboard h1 {
    display: inline-block;
  font-size: 18px;
  position: relative;
  top: 5px;
  color: #e1e1e1;
  padding: 12px 0px 18px;
}
.leaderboard h1 svg {
  width: 25px;
  height: 26px;
  position: relative;
  margin-left: 15px;
  top: 3px;
  margin-right: 6px;
  vertical-align: baseline;
}
.leaderboard ol {
  padding: 0px;
  list-style-type: none;
  counter-reset: leaderboard;
}
.leaderboard ol li {
transform: scale(1.2);

  position: relative;
  width: 100%;
  z-index: 1;
  font-size: 14px;
  counter-increment: leaderboard;
  padding: 18px 10px 18px 10px;
  cursor: pointer;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  transform: translateZ(0) scale(1, 1);
}
.leaderboard ol li::before {
  content: counter(leaderboard);
  position: absolute;
  z-index: 2;
  top: 15px;
  left: 15px;
  width: 20px;
  height: 20px;
  line-height: 20px;
  color: #c24448;
  background: #fff;
  border-radius: 20px;
  text-align: center;
}
.leaderboard ol li mark {
  font-size: 1em;
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 18px 10px 18px 50px;
  margin: 0;
  background: none;
  color: #fff;
}
.leaderboard ol li mark::before, .leaderboard ol li mark::after {
  content: "";
  position: absolute;
  z-index: 1;
  bottom: -11px;
  left: -9px;
  border-top: 10px solid #c24448;
  border-left: 10px solid transparent;
  transition: all 0.1s ease-in-out;
  opacity: 0;
}
.leaderboard ol li mark::after {
  left: auto;
  right: -9px;
  border-left: none;
  border-right: 10px solid transparent;
}
.leaderboard ol li small {
  font-size: 1em  ;
  position: relative;
  z-index: 2;
  display: block;
  text-align: right;
}

.inside-leaderboard-points{
  display: grid;
  grid-template-columns:20% 20% 20% 20% 20%;

}

@media (max-width:790px){
  .inside-leaderboard-points{
    grid-template-columns: 40% 10% 10% 10% 30%;
  }
}


.leaderboard ol li::after {
  content: "";
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 3px 0 rgba(0, 0, 0, 0.08);
  transition: all 0.3s ease-in-out;
  opacity: 0;
}
.leaderboard ol li:nth-child(1) {
  background: #ffa805;
}
.dropdown-list-1 {
    visibility: hidden;
    position: absolute;
}
.leaderboard ol li:nth-child(1)::after {
    background: #ffa500;
}

.leaderboard ol li:nth-child(2) {
    background: #ffab0f;
}
.dropdown-list-2 {
    visibility: hidden;
    position: absolute;
}
.leaderboard ol li:nth-child(2)::after {
    background: #ffa500;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.08);
}
.leaderboard ol li:nth-child(2) mark::before, .leaderboard ol li:nth-child(2) mark::after {
    border-top: 6px solid #e69500;
    bottom: -7px;
}
.leaderboard ol li:nth-child(3) {
    background: #ffad14  ;
}
.dropdown-list-3 {
    visibility: hidden;
    position: absolute;
}

.leaderboard ol li:nth-child(3)::after {
    background: #ffa500;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.11);
}
.leaderboard ol li:nth-child(3) mark::before, .leaderboard ol li:nth-child(3) mark::after {
    border-top: 2px solid #e09200;
    bottom: -3px;
}
.leaderboard ol li:nth-child(4) {
    background: #ffb01f;
}
.dropdown-list-4 {
    visibility: hidden;
    position: absolute;
}
.leaderboard ol li:nth-child(4)::after {
    background: #ffa500;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.15);
}
.leaderboard ol li:nth-child(4) mark::before, .leaderboard ol li:nth-child(4) mark::after {
    top: -7px;
    bottom: auto;
    border-top: none;
    border-bottom: 6px solid #db8f00;
}
.leaderboard ol li:nth-child(5) {
    background: #ffb429;
    border-radius: 0 0 10px 10px;
}
.dropdown-list-5 {
    visibility: hidden;
    position: absolute;
}

.leaderboard ol li:nth-child(5)::after {
  background: #ffa500;
  box-shadow: 0 -2.5px 0 rgba(0, 0, 0, 0.12);
}
.leaderboard ol li:nth-child(5) mark::before, .leaderboard ol li:nth-child(5) mark::after {
  top: -9px;
  bottom: auto;
  border-top: none;
  border-bottom: 8px solid #d18800;
}

.leaderboard ol li:nth-child(6) {
  background: #ffb62e;
  border-radius: 0 0 10px 10px;
}
.dropdown-list-5 {
  visibility: hidden;
  position: absolute;
}

.leaderboard ol li:nth-child(6)::after {
background: #ffa500;
box-shadow: 0 -2.5px 0 rgba(0, 0, 0, 0.12);
}
.leaderboard ol li:nth-child(6) mark::before, .leaderboard ol li:nth-child(6) mark::after {
top: -9px;
bottom: auto;
border-top: none;
border-bottom: 8px solid #d18800;
}

.leaderboard ol li:nth-child(7)::after {
background: #ffa500;
box-shadow: 0 -2.5px 0 rgba(0, 0, 0, 0.12);
border-radius: 0 0 10px 10px;
}
.leaderboard ol li:nth-child(7) mark::before, .leaderboard ol li:nth-child(7) mark::after {
top: -9px;
bottom: auto;
border-top: none;
border-bottom: 8px solid #d18800;
}

.leaderboard ol li:nth-child(7) {
  background: #ffb938;
  border-radius: 0 0 10px 10px;
}
.dropdown-list-6 {
  visibility: hidden;
  position: absolute;
}

.leaderboard ol li:nth-child(7)::after {
background: #ffa500;
box-shadow: 0 -2.5px 0 rgba(0, 0, 0, 0.12);
border-radius: 0 0 10px 10px;
}
.leaderboard ol li:nth-child(7) mark::before, .leaderboard ol li:nth-child(6) mark::after {
top: -9px;
bottom: auto;
border-top: none;
border-bottom: 8px solid #d18800;
}

.leaderboard ol li:hover {
  z-index: 2;
  overflow: visible;
}
.leaderboard ol li:hover::after {
  opacity: 1;
  transform: scaleX(1.06) scaleY(1.03);
}
.leaderboard ol li:hover mark::before, .leaderboard ol li:hover mark::after {
  opacity: 1;
  transition: all 0.35s ease-in-out;
}

.the-most {
  position: fixed;
  z-index: 1;
  bottom: 0;
  left: 0;
  width: 50vw;
  max-width: 200px;
  padding: 10px;
}
.the-most img {
  max-width: 100%;
}
.points_text{
  justify-self: end;
  margin-right: 15px;
    margin-top: 10px;
    float: right;
    font-size: 18px;
}
@media screen and (max-width: 800px){
    li{
      width: 100%;
    }
}
.medal-icons{
  justify-self: end;
  position: relative;
  left: 10px;
}
.medal-icons-gold{
  justify-self: end;
  position: relative;
  left: 10px;
}
.medal-icons-silver{
  justify-self: end;
  position: relative;
  left: 10px;
}
.d1, .d2, .d3{
  position: absolute;
}
@media screen and (max-width: 500px){
  .d1,.d2, .d3{
    visibility: hidden;
  }
  .medal-icons-gold, .medal-icons-silver, .medal-icons{
    visibility: hidden;
  }
}
#event-title{
   font-family: 'Ruda', sans-serif;
}

.AV-leaderboard-link{
  position: relative;
  top: 37em;
  align-content: center;
  text-align: center;

}

.AV-club-button {
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 10px;
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: transparent; 
  color: #eeaa2b  ;
  border: 2px solid #eeaa2b;
}
.AV-club-button:hover {
  background-color: #eeaa2b;
  color: black;
}
@media screen and (max-width: 600px){

  .AV-leaderboard-link{
    align-items: center;
    align-content: center;
  }
}







